.form-builder-screen {
  position: fixed;
  left: 30vw;
  width: 40vw;
  top: 30vh;
  min-height: 45vh;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px darkgray;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-content: center;
  justify-content: space-around;
}

.form-builder-header {
  text-align: center;
  color: darkblue;
  text-shadow: 1px 1px 1px 1px black;
}

.new-question-type-selector {
  height: 5vh;
  width: 30vw;
  border: 2px solid darkblue;
  text-align: center;
}

.new-question-text {
  width: 30vw;
  border: 2px solid blue;
  border-radius: 5px;
  line-height: 3vh;
  height: 9vh;
  min-height: 9vh;
}

.new-question-type-selector {
  align-self: center;
}

.new-question-text {
  align-self: center;
}

.submit-question-button {
  width: 25%;
  align-self: center;
  height: 5vh;
  color: blue;
  border: 1px solid darkblue;
  box-shadow: 1px 1px 1px 1px indigo;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 5vh;
}

.submit-question-button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.add-options-bar {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-height: 20vh;
  overflow-y: scroll;
  justify-content: center;
}

.single-option {
  width: 15vw;
  align-self: center;
}