.form-header {
  text-align: center;
  text-shadow: 1px 1px darkblue;
  color: blue;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 4.5vh;
  position: fixed;
  right: 3pc;
  top: 10vh;
  width: 20pc;
  height: 70vh;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}


.single-question {
  height: 20vh;
  width: 19vw;
}





